node_modules/**/*
.expo*/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.idea/
.vscode/
build/
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock
dist/

# macOS
.DS_Store